<%= @comment.content %>

<form action="<%= comments_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Content
        <textarea name="comment[contents]" id="comment[contents]" cols="30" rows="10"></textarea>
    </label>
    <input type="hidden" name="comment[parent_id]" value="<%= @comment.id %>">
    <button>Submit Comment</button>
</form>

